body{
  padding: 0;
  margin: 0;


}
.navbar ul{
list-style: none;
float: right;
}
.navbar ul li {
  display: inline;
  margin-top: -90px;

}
.navbar ul li a{
text-decoration: none;
padding: 10px;
color: black;


}
.navbar li{
 margin-top:500px;
}
header{
  background: url("../images/cooking.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  height: 600px;
}
.main-page h1{
font-family: 'Dancing Script', cursive;
margin-top: 200px;
}
.main-page{
  text-align: center;
}
.container {
  background: rgba(205,205,205,1);
  height: 300px;
  color:black;
  padding-top: 30px;


}
.container{
  text-align:center;
  margin-bottom:400px;

}
.container h3{
  color: #C76D7E;

}
.content{

  display: grid;
  grid-template-columns: auto auto;
  grid-auto-rows: auto auto;
}

.content {
  margin-top: -400px;
  background: #FFFCFF;
  height: 400px;
  color:black;
  padding:30px;

}
.logo-container{
  text-align: center;
  font-size: 30px;
}
